<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="always" name="referrer">
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>翻牌抢红包</title>
    <script>console.log('data')</script>
    <script src="//oss.ltcdn.cc/game/Theme/Real/Js/ejs.min.js"></script>
    <%=data.baseJs%>
</head>
