<body class="J_schema" data-id="bgColor" lotterytype="flop">
<div id="more-game-module"></div>
<div id="db-content" class="J_schema" data-id="bgimg" style="display: block;">
    <div class="game-rule"></div>
    <div class="Popup-box"></div>
    <div class="banner"></div>
    <div class="Buoy-box"></div>
    <div class="poker-table">
        <p id="needCredits" class="J_schema" data-id="needCredits">今日免费：<span id="remainCount"></span>次</p>
        <div class="card-wrapper six">
            <div class="card init J_schema" data-group="card"></div>
            <div class="card init J_schema" data-group="card"></div>
            <div class="card init J_schema" data-group="card"></div>
            <div class="card init J_schema" data-group="card"></div>
            <div class="card init J_schema" data-group="card"></div>
            <div class="card init J_schema" data-group="card"></div>
        </div>
    </div>
    <div class="prize-list" id="prize-list">
        <div></div>
    </div>
    <div class="apple-wrapper"></div>
    <a class="apple fixed statement J_schema"
       onclick="_hmt.push(['_trackEvent', 'link', 'click', 'http://adbaitai.com'])" href="http://adbaitai.com/"
       data-id="statement" style="display: block;">活动由来推互动主办，与Apple lnc.无关</a>
</div>
<div class="card-cover" id="cardCover" style="display: none;"></div>
</body>
